#sidebar{
     width: 280px;
     min-height: 100vh;
     overflow-y: auto;
     overflow-x: hidden;
     background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
     color: #fff;
     padding: 20px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
}
.link-navbar:hover{
     color: burlywood !important;
}

@media screen and (max-width: 768px) {
     #sidebar{
          left: -280px;
     }
     
}