RewriteEngine On

RewriteRule ^api/(.*)$ api/api.php?method=$1 [L,QSA]

# Redirect all requests not for existing files/directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]