.main{
     margin-left: 280px;
}
@media screen and (max-width: 768px) {
     .main{
          margin-left: 0px;
     }
     
}
/* 404 page  */

.pageNotFound{
     display: block;
     justify-content: center;
     align-items: center;
     margin-top: 250px;
     text-align: center;
}
.pageNotFound h1{
     font-weight: 900;
     font-size: 5rem;
}
.pageNotFound .number{
     font-weight: bolder;
     font-size: 8rem;
}

/* login  */

